h1 {
    font-size: 2em;
    text-align: center;
    color: #0071eb;
    text-shadow: black;
    
}
.betterThanus {
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: center;
    background-color: #F7FFF7;
}