@import "../../../style/variables";
@import "../../../style/buttons";
@import "../../../style/forms";
@import "../../../style/bootstrapImports";

.userEmailSection {
  font: inherit;
  width: 100%;

  button {
    @include primaryBtn;
    width: 1.8rem;
    min-height: 1.8rem;
    margin-left: 1rem;
    align-content: center;
    font-weight: 900;
    font-size: 1rem;
  }

  input[type="email"] {
    @include inputElement($bgColor: #fff);
    background-color: inherit;
    border: none;
    color: inherit;
    border-radius: $borderRadius;
    box-sizing: content-box;
    padding: 0 8px;
    border-color: #d1dbe3;
    height: 2.6rem;
    width: fit-content;
    &:hover {
      cursor: pointer;
      background-color: rgba($color: #000000, $alpha: 0.1);
    }

    &:focus {
      padding: 0 8px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .userEmailSection {
    .formInput {
      width: 100%;
    }
  }
}
