/* Colors */
$primaryColor: #0071eb;
$secondaryColor: #c8d7c2;
$lightColor: #fffefc;
$warningColor: #ffbfb5;
$errorColor: #f23a3c;
$successColor: #8ccbba;
$darkColor: #4f4f4f;
$lightColorSearch: rgba(255, 254, 252, 0.6);

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
$mainFontFamily: "'Asap', sans-serif;";

@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
$secondaryFontFamily: "'Asap', sans-serif;";

$borderRadius: 4px;
