@import "../../style/variables";

.aboutUsPage {
  width: auto;
  height: 45em;
}

.logoAbout {
  width: 60em;
  margin: 5em;
  height: 20em;

}

.aboutUsPage {
  h2 {
    color: $primaryColor;
    font-family: $mainFontFamily;
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }

  p {
    color: $primaryColor;
    font-family: $mainFontFamily;
    font-size: 1.125rem;
    text-align: center;
    margin-top: 2rem;
    line-height: 2em;

  }
}
